version: '3.8'

services:
  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - ./dbdata:/var/lib/mysql
    networks:
      - backend_net
    ports:
      - "3306"

  app:
    build:
      context: ./app
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASSWORD: apppass
      DB_NAME: appdb
    networks:
      - backend_net
    ports:
      - "5000:5000"

  proxy:
    image: nginx:latest
    ports:
      - "1406:80"  #  http://localhost:5000 
    depends_on:
      - app
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf  
    networks:
      - backend_net
      - frontend_net

networks:
  backend_net:
  frontend_net:
volumes:
  dbdata: